


  
 

  #mainNav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 8px;
    padding: 10px 0 60px 10px;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;  
    border-right: 2px solid rgba(10, 17, 92, 0.4); 
    border-top-right-radius: 8%;
    border-bottom-right-radius: 10%;
    width:50px;
    transition:width 1s ease-in-out,background-color 1s ease-in-out,opacity 1s ease-in-out 1s;

  }

/* #divexist{
  opacity:0;
} */
#Ab,#Stat,#Conf,#Temoit,#Mot{
  text-decoration: none;
  color:black;
  margin-bottom:40px;
  border-bottom:1px solid white;
  font-weight: 500;
  padding-bottom:10px;
  font-family:'Roboto', sans-serif;
  color:rgb(0, 0, 0);
  padding-left:30px;
  padding-right:20px;
  opacity:0;
  transition:opacity 1s ease-in-out 1s;
}
@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(10deg); }
 95% { transform: rotate(-10deg); }
100% { transform: rotate(0deg); }
}
#overlay{
  position: absolute;
  top:50%;
  left:50%;
}
.Arrow {
  background: url("../assets/right-arrow.png");
  width: 10%;
  height: 10%;
  opacity: 0.4;
  position: absolute;
  left: 11.5%;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 30%;
  top: 30%;
  animation: wiggle 2.5s infinite;

}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior:smooth;
  }
}





@keyframes animation_FORUM {
  from {
    width: 0;
    letter-spacing: 15px;
    opacity: 0.4;
  }
  to {
    width: 50%;
    letter-spacing: 45px;
    opacity: 1;
  }
}

@keyframes animation_FORUMB {
  from {
    width: 0;
   
}
to {
    
    width: 50%;
  

}
}


.navbtn {
  background: none;
  width: 4%; /* Set the width of the button */
  height: 100%; /* Set the height of the button */
  border:none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2);  */
  cursor: pointer;
  display:block;
}
#tie_ECC {
  position: relative;
  top: 1px;
  left: -5px;
  opacity: 1;
  width:50px;
  height: 100%;
  transition: width 0.5s,height 0.5s,left 0.5s,opacity 0.5s;

}
#tie_ECC:hover{
  opacity: 0.5;
  left: -15px;
  width:70px;
  height:100%;
  transition: width 1s,height 1s,left 1s,opacity 1s;
}
#parameter_ECC {
  position: relative;
  top: 350%;
  left: -5px;
  width:50px;
  height: 100%;
  rotate: 0deg;
  transition: width 0.5s,height 0.5s,left 0.5s,opacity 0.5s,rotate 0.5s,top 0.5s;

}
#parameter_ECC:hover{
  left: -5px;
  top: 370%;
  width:45px;
  height:110%;
  rotate: 360deg;
  transition: width 1s,height 1s,left 1s,rotate 1s,top 1s;

}


.Write_nav_Ecc{
  position: relative;
  top:40px;
  left:10px;
}
.insta_btn{
  position:relative;
  top:45%;
  left: 7px;
  width:25px;
  height: 50%;
  transition: width 0.5s,height 0.5s,left 0.5s,opacity 0.5s;

}
.insta_btn:hover{
  width:30px;
  left: 5px;
  height: 60%;
  opacity: 0.7;
  transition: width 1s,height 1s,left 1s;
}
.Home {
  position: relative;
  left: -97px;
  width: 100%;
  min-height: 70vh;
  /* background: linear-gradient(0deg,   rgba(88, 153, 232, 0.05)0%,   rgba(88, 153, 232, 0.4)55%,   rgba(88, 153, 232, 0.5)100%),url(../assets/cover.png) top center; */

  background: linear-gradient(0deg,   rgba(27, 47, 69, 0.5)0%,   rgba(27, 47, 69, 0.6)15%,   rgba(27, 47, 69, 0.85)100%),url(../assets/cover.png) top center;
  background-size: cover;
  padding: 120px;
  
}

#CountDaysd{
  position:relative;
  align-items: center;
  padding-left: 5px;
  top:-49%;
  left:20%;
  font-size: 50px;
  z-index: 40;
  color:white;
  /* background-image: url(/assets/Border.png); */
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 0% 2%;
  width: 100px;
  height: 100px;

}
#CountDaysu{
  position:relative;
  padding-left: 5px;
  top:-250%;
  left:50%;
  font-size: 50px;
  z-index: 40;
  color:white;
  /* background-image: url(/assets/Border.png); */
  background-size: 35px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
#CountHoursu{
  position:relative;
  padding-left: 5px;
  top:-250%;
  left:50%;

  font-size: 50px;
  z-index: 40;
  color:white;
  /* background-image: url(/assets/Border.png); */
  background-size: 35px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
#CountHoursd{
  position:relative;
  padding-left: 5px;
  top:-48%;
  left:20%;
  font-size: 50px;
  z-index: 40;
  color:white;
  /* background-image: url(/assets/Border.png); */
  background-size: 35px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

#CountMinutesu{
  position:relative;
  padding-left: 5px;
  top:-250%;
  left:50%;
  font-size: 50px;
  z-index: 40;
  color:white;
  /* background-image: url(/assets/Border.png); */
  background-size: 35px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}
#CountMinutesd{
  position:relative;
  align-items: center;
  top:-48%;
  left:20%;
  font-size: 50px;
  z-index: 40;
  color:white;
  /* background-image: url(/assets/Border.png); */
  background-size: 35px;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  padding-left: 5px;


}



@keyframes Ruban1 {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  20% {
    opacity: 0.9;
    transform: translateY(0);
  }
  60% {
    opacity: 0.9;
    transform: translateY(0);}
  70% {
    opacity: 0;
    transform: translateY(-50%);
  }
  80% {
    opacity: 0;
    transform: translateY(-50%);
  }
  85% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}


.Ruban{
  background-image: url(../assets/Rubanbleu.png) ;
  position:absolute;
  opacity: 0.9;
  top:-10px;
  left:70%;
  width: 170px;
  height: 550px;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: -170% 120%;

  animation: Ruban1 7s ease-out infinite;
}

#btn_ruban1{
  position: absolute;
  /* padding:6px;
  border: 2px solid white; */
  opacity:0.6;
  top:23%;
  left:25%;
  z-index: 20;
  width: 20%;
}
#btn_ruban2{
  position: absolute;
  /* padding:6px;
  border: 2px solid white; */
  opacity:0.6;
  top:23%;
  left:53%;
  z-index: 20;
  width: 20%;
}
#btn_ruban3{
  position: absolute;
  /* padding:6px;
  border: 2px solid white; */
  opacity:0.6;
  top:38%;
  left:25%;
  z-index: 20;
  width: 20%;
}
#btn_ruban5{
  position: absolute;
  /* padding:6px;
  border: 2px solid white; */
  opacity:0.6;
  top:53%;
  left:53%;
  z-index: 20;
  width: 20%;
}
#btn_ruban6{
  position: absolute;
  /* padding:6px;
  border: 2px solid white; */
  opacity:0.6;
  top:53%;
  left:25%;
  z-index: 20;
  width: 20%;
}
#Days{
  position: relative;
  top:25px;
  left:27%;
  font-size: 18px;
  color:white;
  font-family: 'Roboto', sans-serif;
}
#Hours{
  position: absolute;
  top:-55px;
  left:23%;
  font-size: 18px;
  color:white;
  font-family: 'Roboto', sans-serif;
}
#Minutes{
  position: absolute;
  top:-55px;
  left:19%;
  font-size: 18px;
  color:white;
  font-family: 'Roboto', sans-serif;}
.bg-ruban{
  position: relative;
  top:7px;
  left:0%;
  background: rgba(26, 44, 63, 0.8);
  border: 2px solid rgba(250, 250, 255, 0.6);
  width: 120px;
  height: 70px;
  border-radius: 15%;
  margin-left: 10px;

  
  
  }
  .bg-ruban1{
    background: rgba(26, 44, 63, 0.8);
    border: 2px solid rgba(250, 250, 255, 0.6);
    width: 120px;
    height: 70px;
    border-radius: 15%;
    position: relative;
    top:50px;
    left:0;
    margin-left: 10px;
    }
.bg-ruban2{
  background: rgba(26, 44, 63, 0.8);
  border: 2px solid rgba(250, 250, 255, 0.6);
  width: 120px;
  height: 70px;
  border-radius: 15%;
  position: relative;
  top:93px;
  left:0;
  margin-left: 10px;

  }
#btn_ruban4{
  position: absolute;
  /* padding:6px;
  border: 2px solid white; */
  opacity:0.6;
  top:38%;
  left:53%;
  z-index: 20;
  width: 20%;
}
.link_btn{
  position:relative;
  top:25%;
  left: 7px;
  width:30px;
  height: 50%;
  transition: width 1s,height 1s,left 1s;
}




.link_btn:hover{
  left: 5px;
  width:35px;
  height: 60%;
  opacity: 0.7;
  transition: width 1s,height 1s,left 1s;
}
.Home h1{
  font-size: 50px;
  letter-spacing: 45px;
  color:rgb(255, 255, 255);
  position:relative;
  left:07%;
  top:-50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid white;
  border-right: none;
  border-left: none;
  padding: 10px 0 10px 0;
  width: 50%;
  padding-left: 70px;
  animation: animation_FORUM 2s steps(100, end) forwards 1;
  transition: letter-spacing 1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  z-index: 50;


}
.icon_about1{
  border: 5px solid blue;
}
#particles-js{
  position: absolute;
  top:0;
  left:-100px;
  opacity: 0.6;
  z-index: 3;
  width:1100px;
  height:550px;
  overflow: hidden;
}
#ECC_head{
  position: absolute;
  left:90%;
  top:0;
  font-size: 17px;
  padding-left: 8px;
  border-left: 2px solid white;
  color: white;
  opacity: 0.7;
  z-index: 4;
  font-family: 'Roboto', sans-serif;  


}
.Home h1:hover{
  letter-spacing: 65px;

}
#tenten {
  position: relative;
  left:50%;
}
#tenten:hover{
  font-size: 10px;
}
.Home h5{
  font-size: 20px;
  letter-spacing: 1px;
  display: flex;
  position: relative;
  left:12%;
  top:-40px;
  color:white;
  transition: letter-spacing 1s ease-in-out;
  z-index:10;
  width:650px;
  padding-left: 10px;
  border-left: 2px solid white;
  /* background-color:  rgba(25, 63, 109, 0.4);
  border-top-left-radius: 5.5%;
  padding: 10px; */
  font-family: 'Roboto', sans-serif;
font-weight: 500;
}
.Home h5:hover{
  
letter-spacing: 3px;
}

.Home h3{
  font-size: 50px;
  letter-spacing: 15px;
  color:rgb(255, 255, 255);
  position:relative;
  left:320px;
  top:-133px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
.frame{
  margin-right: 100px;
scale: 0.7;}
.Temoi{
  top: -32px;

  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 60px;
  padding-top: 100px;
  position: relative;
  margin-left:3% ;
  background-color: rgb(242, 239, 235);
  background-position: -500px 20px;

  height: 280px;
  width: 100%;
  color:black;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr ; 
  grid-template-rows: 0.2fr 1fr; 
  gap: 10px; 
  grid-template-areas: 
  ". . ."
  ". . ."
    ". . ."; 
  justify-content: stretch; 
  font-size: 20px;
  border-bottom: 5px solid rgb(194, 186, 186);
  border-top: 5px solid rgb(194, 186, 186);
  z-index: 1;


}

.About{
  overflow-x: hidden;
  overflow-y: hidden;
  padding-right: 60px;
  padding-top: 20px;
  position: relative;
  left:4%;
  padding-left:5% ;
  /* background-color: rgb(242, 239, 235); */
    background-color: rgb(242, 239, 235);

  background-position: -500px 20px;

  height: 280px;
  width: 100%;
  color:black;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 0.2fr; 
  gap: 10px; 
  grid-template-areas: 
  ". . . ."
  ". . . ."
    ". . . ."; 
  justify-content: stretch; 
  font-size: 20px;
  border-bottom: 5px solid rgb(194, 186, 186);
  border-top: 5px solid rgb(194, 186, 186);
  z-index: 1;


}
.placement-Hup{
  position: relative;
  left:15%;
  top:95px;
  z-index: 20;
  width: 53px;
  height: auto;

  border: 3px solid rgb(18, 26, 32);
  background-color: rgba(18, 26, 32,0.5);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 15px;

  border-radius: 5.5%;


}
.Block1{
  position: absolute;
  left:9.2%;
  top:23%;

}
.Block2{
  position: absolute;
  left:4.2%;
  top:15%;

}
.Block3{
  position: absolute;
  left:-0.8%;
  top:8%;

}
.Block4{
  position: absolute;
  left:77.2%;
  top:13.2%;

}
.Block5{
  position: absolute;
  left:82.2%;
  top:23%;

}
.Block6{
  position: absolute;
  left:87.2%;
  top:15%;

}


@keyframes moving {
  0% {    opacity: 1;


    transform: translate(0, 0);
  }
  25% {  opacity: 1;

    transform: translate(900px, 0);
  }
  50% {  opacity: 1;

    transform: translate(900px, 400px);
  }
  75% {  opacity: 1;

    transform: translate(0, 400px);
  }
  100% {  opacity: 1;

    transform: translate(0, 0);
  }
}




.Hup1, .Hup2, .Hup3, .Hup4,.Hup5,.Hup6, .Hup7,.Hup8 {
    
  border: 3px solid rgb(18, 26, 32);
  border-radius: 15%;
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 10px;
  z-index: 90;
  background-size: 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: white;
  opacity:0.5;

  transition:opacity 0.3s ease-in-out;
}

.Hup1 {
  background-image: url(../assets/attijari.png);
  
 

}

.Hup2 {

  background-image: url(../assets/labelvie.png);


}

.Hup3 {

   background-image: url(../assets/cocacola.png);
}

.Hup4 {

  background-image: url(../assets/grprenault.png);

}
.Hup5 {

  background-image: url(../assets/loreal.png);

}
.Hup6 {
  background-image: url(../assets/hps.png);


}

.Hup8 {

  background-image: url(../assets/harisf.jpg);

}
.Hup7 {

  background-image: url(../assets/siana.png);
  

}
.Hup1:hover,.Hup2:hover,.Hup3:hover,.Hup4:hover,.Hup5:hover,.Hup6:hover,.Hup7:hover,.Hup8:hover {
  cursor:pointer;
  opacity: 1;
}
.Rup1, .Rup2, .Rup3, .Rup4,.Rup5,.Rup6, .Rup7,.Rup11, .Rup12, .Rup13, .Rup14,.Rup15,.Rup16, .Rup17 {
    
  border: 3px solid rgb(18, 26, 32);
  border-radius: 15%;
  width: 40px;
  height: 40px;
  position: relative;
  left:0;
  margin-top: 10px;
  z-index: 90;
  background-size: 90%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: white;
  opacity:0.5;

  transition:opacity 0.3s ease-in-out;
}

.Rup1 {
  background-image: url(../assets/attijari.png);
  
 

}

.Rup2 {

  background-image: url(../assets/labelvie.png);


}

.Rup3 {

   background-image: url(../assets/cocacola.png);
}

.Rup4 {

  background-image: url(../assets/grprenault.png);

}
.Rup5 {

  background-image: url(../assets/loreal.png);

}
.Rup6 {
  background-image: url(../assets/hps.png);


}


.Rup7 {

  background-image: url(../assets/siana.png);
  

}
.Rup11 {

  background-image: url(../assets/grant.png);
  

}
.Rup12 {

  background-image: url(../assets/popu.png);
  

}
.Rup13 {

  background-image: url(../assets/societe.jpg);
  

}
.Rup14 {

  background-image: url(../assets/majo.png);
  

}
.Rup15 {

  background-image: url(../assets/pwc.png);
  

}
.Rup16 {

  background-image: url(../assets/nareva.png);
  

}
.Rup17 {

  background-image: url(../assets/gear.png);
  

}
.Rup21 {

  background-image: url(../assets/sanlam.png);
  

}
.Rup22 {

  background-image: url(../assets/tnp.png);
  

}
.Rup23 {

  background-image: url(../assets/vinci.png);
  

}
.Rup24 {

  background-image: url(../assets/steel.png);
  

}
.Rup25 {

  background-image: url(../assets/anp.png);
  

}
.Rup26 {

  background-image: url(../assets/pg.png);
  

}
.Rup27 {

  background-image: url(../assets/farge.png);
  

}
.Fin{
  width:380px;
  height:230px;
  position: absolute;
  border-radius: 10%;
  top:450px;
  left:180px;
  background-color: rgba(3, 4, 12, 0.7);
  border-color: 2px solid rgba(3, 4, 12, 0.5);


}





.Articles{
  background-image:linear-gradient(0deg,   rgba(27, 47, 69, 0.5)0%,   rgba(27, 47, 69, 0.6)15%,   rgba(27, 47, 69, 0.85)100%),url(../assets/ecc_forum_digital.jpeg) ;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 110%;
  height:700px;
  z-index: 1;
  top:-34px;
}
.footer{
  background-image:linear-gradient(0deg,   rgba(27, 47, 69, 1)0%,   rgba(79, 96, 114, 1)15%,   rgba(19, 34, 50, 1)100%),url(../assets/ecc_forum_digital.jpeg) ;
  top:-60px;
  z-index: 0;
  height: 100%;
  width:110%;
  background-repeat: no-repeat;
  position: relative;

}
.Writef{
  display: flex;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  border-radius: 5%; 
  background-color: rgba(3, 4, 12, 0.7);
  color:white;
  outline: none;
  border:2px solid rgba(3, 4, 12,0.7) ;
  height:30px;

}
.Writefp{
  top:-50px;
  border-radius: 3%;

  border: 3px solid rgb(125, 120, 120);
  padding-left: 30px;
position: relative;
width: 500px;
left:53%;
font-size: 20px;
background-color: rgba(125, 120, 120,0.1);
color:white;


}
.Writef:focus{
  border-bottom: 4px solid rgb(125, 120, 120);
  border-right: 2px solid rgb(125, 120, 120);

  outline: 1px solid white ;
}
.Sb{
  position: relative;
  left:35%;
  border-radius: 15%;
  background-color: rgba(125, 120, 120,0);
  margin-bottom: 15px;
  cursor: pointer;
  font-family: "Roboto",sans-serif;
  font-size: 17px;
  width:max-content;
  height:max-content;
  border: 1px solid rgb(125, 120, 120);
  color:white;
  animation: wiggle 4s infinite;
  transition:background-color 0.3s ease-in-out;
}
.Sb:hover{
  background-color: rgba(125, 120, 120,1);

}

.Write{
  display: flex;
  flex-direction: column;
}
.Contact{
  border-top:4px solid rgba(125, 120, 120,1);
  border-bottom:4px solid rgba(125, 120, 120,1);
  
  background-size: 100%;
background-repeat: no-repeat;
  position:relative;
  top:-33px;
  padding-top: 20px;

  background-image: linear-gradient(0deg, rgba(3, 4, 12, 1) 0%, rgba(3, 4, 12, 0.5) 25%, rgba(3, 4, 12, 0.5) 55%, rgba(3, 4, 12, 0.3) 100%), url(../assets/forumconf1.jpg);
  padding-bottom: 20px;
  height:700px;
}
.GPic{
  position: relative;
  top:-32px;
  background-image: linear-gradient(0deg,   rgba(104, 102, 102, 0.1)0%,   rgba(104, 102, 102, 0.2)55%,   rgba(104, 102, 102, 0.3)100%),url(../assets/campusp.jpg) ;
  height:500px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top:4px solid rgba(125, 120, 120,1);
  border-bottom:4px solid rgba(125, 120, 120,1);
  padding-bottom: 40px;
  

}
.Picpic{
  
display: flex;
justify-content: space-evenly;
position: relative;
left:15%;
}
.displayr{
position: absolute;
font-size: 50px;  
top:130px;
left:80%;
background-color:rgba(125, 120, 120,0);
border:2px solid white;
color:white;
transition: border 0.5s ease-in-out,color 0.5s ease-in-out,background-color 1s ease-in-out;

}
.displayl{
  border:2px solid white;
  color:white;
  top:130px;
  font-size: 50px;
  position: absolute;
  left:-6%;
  background-color:rgba(125, 120, 120,0);
  transition: border 0.5s ease-in-out,color 0.5s ease-in-out,background-color 1s ease-in-out;

}
.displayr:hover,.displayl:hover{
  background-color: rgba(54, 53, 53,0.5);
  border:1px solid rgba(125, 120, 120,1);
  color:rgba(125, 120, 120,1);
  transition: border 0.5s ease-in-out,color 0.5s ease-in-out,background-color 1s ease-in-out;

}
.Pic1{
  display:flex;
  width:300px;
  height:350px;
  background-image: url(../assets/cover.png);
  
 
}







